{{ define "main" }}

{{ "<!-- Page Header -->" | safeHTML }}
<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>{{ .Title }}</h2>
                    <div class="portfolio-meta">
                        <span>Episode # {{ .Params.episodeNumber }}</span>|
                        <span>{{ .PublishDate.Format "2006-01-02" }}</span>|
                        <span><a href="{{ .Params.spotify }}" target="_blank">Spotify</a></span>|
                        <span><a href="{{ .Params.itunes }}" target="_blank">iTunes</a></span>|
                        <span><a href="{{ .Params.googlePodcast }}" target="_blank">Google Podcast</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ "<!-- work details part start -->" | safeHTML }}
<section class="work-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                {{ with .Params.image }}
                <div class="work-single-image">
                    <!-- Work Single Image -->
                    <img class="img-fluid w-100" src="{{ . | absURL }}" alt="work-single-image">
                </div>
                {{ end }}
                <!-- work single Content -->
                {{ with .Content }}
                <div class="work-single-content">
                    {{ . }}
                </div>
                {{ end }}
            </div>
            <div class="col-lg-4">
                <!-- sidebar -->
                <div class="work-single-sidebar">
                    {{ $guestTwitterHandler := .Params.guestTwitterHandler }}
                    {{ $guestTwitter := .Params.guestTwitter }}
                    {{ with .Params.guest }}
                    <h5>Guest</h5>
                    <h6>{{ . }} (<a href="{{ $guestTwitter }}" target="_blank">{{ $guestTwitterHandler }}</a>)</h6>
                    {{ end }}
                    {{ with .Params.publishDate }}
                    <h5>Date</h5>
                    <h6>{{ .Format "2006-01-02" }}</h6>
                    {{ end }}
                    {{ with .Params.heuristic }}
                    <h5>Heuristic</h5>
                    <h6>{{ . }}</h6>
                    {{ end }}
                    {{ $heuristicSourceLink := .Params.heuristicSourceLink }}
                    {{ with .Params.heuristicSource }}
                    <h5>Heuristic Source</h5>
                    <h6><a href="{{ $heuristicSourceLink }}" target="_blank">{{ . }}</a></h6>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{"<!-- work details part end -->" | safeHTML }}

{{ partial "cta.html" . }}

{{ end }}