{{ define "main" }}

{{ "<!-- Page Header -->" | safeHTML }}
<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>{{ .Title }}</h2>
                    {{ .Description }}
                </div>
            </div>
        </div>
    </div>
</section>

{{ "<!-- work details part start -->" | safeHTML }}
<section class="work-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</section>
{{"<!-- work details part end -->" | safeHTML }}

{{ partial "cta.html" . }}

{{ end }}